@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --toastify-color-dark: #121314;
  --toastify-color-success: #7ECA9C;
}

@theme {
  --color-primary: #121314;
  --color-secondary: #131415;
  --color-hover: #18191a;
  --color-accent: #7ECA9C;
  --color-hover-accent: #a2d4b6;
  --color-dark-accent: #2a4e38;
}

* {
  font-family: 'Space Grotesk', serif;
}

body {
  background: radial-gradient(circle, transparent 20%, var(--color-primary) 20%, var(--color-primary) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-primary) 20%, var(--color-primary) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--color-hover) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--color-hover) 2px, var(--color-primary) 2px) -1px 0;
  opacity: 0.8;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

li {
  list-style: none;
}

code {
  font-family: 'Google Sans Code', serif;
}

.shadow {
  box-shadow: 8px 8px 0 0 var(--color-dark-accent);
}

input {
  border: 2px solid var(--color-accent);
  color: white;
  padding: 8px;
}

button {
  background-color: var(--color-accent);
  padding: 8px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(3px);
}